
<h1>howdy</h1>
<form action="/square/results">
  <label for="user_input">Enter a number</label>
  <input id="user_input" type="text" placeholder="what number do you want to square?" name="user_input">
  <button>Calculate square</button>
</form>
