<h1>Calculate Square Root</h1>
<form action="/square_root/results">
  <label for="user_min">Enter a number</label>
  <input id="user_min" type="text" placeholder="What number do you want to find the square root for?" name="user_input">
  
  <button>Calculate square root</button>
</form>
